<!-- Footer -->
<footer class="positionFooter page-footer font-small bg-dark text-white darken-3 col-md-12">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 mainFooter">
  
            <!-- Facebook -->
              <fa-icon [icon]="faFacebook" class="icon fa-2x"> </fa-icon>
            <!-- Twitter -->
              <fa-icon [icon]="faTwitter" class="icon fa-2x"> </fa-icon>
            <!-- Google +-->
                <fa-icon [icon]="faLinkedin" class="icon fa-2x"> </fa-icon>
            <!--Linkedin -->
                <fa-icon [icon]="faPinterestP" class="icon fa-2x"> </fa-icon>
            <!--Instagram-->
                <fa-icon [icon]="faTelegram" class="icon fa-2x"> </fa-icon>
        </div>
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->